<html>
<head>
    <title>Clean Beats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        .bodyContainer {
          text-align: center;
        }
        #formContainer {
          display: inline-block;
          text-align: center;
        }
        #headerTitle {
            font-size: 100px;
            font-family: 'Raleway', sans-serif;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/ghodouss/CleanBeats.ai" target="_blank">CleanBeats.ai</a>
        </div>

    </div>
</nav>
<div class="bodyContainer">
    <header>
        <h1 id="headerTitle">CLEAN BEATS</h1>
    </header>
    <div>
        Make non-explicit versions of your songs to play at your holiday party!
    </div>
    <br/>
    <div id="formContainer">
        <form method="post" enctype="multipart/form-data">
            <input name="file" type="file">
            <br/>
            <input type="submit" value="upload">
        </form>
    </div>
    <pre name="code" class="html">
    <!--the filename can be changed-->
    <input id="download" class="btn btn-default" type="button" value='Download' target="_blank" hidden="true"
           onclick="location.href='{{ url_for('download', filename='Amethystium-Ethereal.mp3')}}'">

    </pre>
</div>
</body>
</html>
